# Prevent breaking git with a bad config when it has conflicts
.gitconfig* merge=binary
**/lghub/settings.db diff=sqlite3
**/lghub/settings.db merge=keepTheir
*.pyz filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.icns filter=lfs diff=lfs merge=lfs -text
*.car filter=lfs diff=lfs merge=lfs -text
*.loctable filter=lfs diff=lfs merge=lfs -text
"**/Contents/MacOS/Automator Application Stub" filter=lfs diff=lfs merge=lfs -text
