# Any exclusions here aren't necessary for yadm, but git-crypt and fork.dev try
# to traverse all the non-ignored files which can be really slow, particularly
# for things like cache dirs and stuff like ~/Documents
*

# Keep some dot directories and the README tracked. Including all .* files is a bit messy
!.*/**
!.config/**
!README.md

.DS_Store
/.Trash/
/.cache/
/.config/nvm/*

# This weird multi-entry is required to support nested '!' exceptions
/Library/*
!/Library/Application Support
/Library/Application Support/*
!/Library/Application Support/Code
/Library/Application Support/Code/*
!/Library/Application Support/Code/User
/Library/Application Support/Code/User/*Storage
