[include]
    path = ~/.gitconfig.local
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    unstage = reset HEAD --
    last = log -1 HEAD
    delete = branch -d
    ppull = pull -p
    pfetch = fetch -p
    hardreset = reset --hard @{u}
    fpush = push --force-with-lease
    ld = log --pretty=format:\"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]\" --decorate --date=relative
    sw = switch
    softreset = reset --soft HEAD~
    default-branch = !git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'
    branch-clean = !git branch --merged \"$(git default-branch)\" | egrep -v \"$(git default-branch)$\" | xargs -n 1 git branch --delete
    alias = "!sh -c '[ $# = 2 ] && git config --global alias.\"$1\" \"$2\" && exit 0 || echo \"usage: git alias <new alias> <original command>\" >&2 && exit 1' -"
    aliases = !git config --get-regexp 'alias.*' | sed -E 's/alias\\.([^[:space:]]+)[[:space:]](.+)/[\\1]'$'\\\\\\n''    \\2/'
    bc = branch-clean
	bpull = !sh -c 'git fetch origin $1:$1' -
	vdiff = difftool -d HEAD
[core]
    excludesfile = ~/.gitignore_global
    editor = vim
[diff]
    tool = vimdiff
[difftool]
    trustExitCode = true
    prompt = false
[difftool "vimdiff"]
    cmd = vim -c "\"DirDiff $LOCAL $REMOTE\""
[merge]
    renameLimit = 2000
[submodule]
    recurse = true
[push]
    # Override 'submodule.recurse' to make rpush work without warnings
    recurseSubmodules = no
[pull]
    rebase = false
[commit]
	gpgsign = true
