[submodule ".vim/pack/bundle/start/vim-airline"]
	path = .vim/pack/bundle/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/bundle/start/vim-fish"]
	path = .vim/pack/bundle/start/vim-fish
	url = https://github.com/blankname/vim-fish.git
[submodule ".vim/pack/bundle/start/vim-dirdiff"]
	path = .vim/pack/bundle/start/vim-dirdiff
	url = https://github.com/will133/vim-dirdiff.git
[submodule ".vim/pack/bundle/start/rust.vim"]
	path = .vim/pack/bundle/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule ".vim/pack/bundle/start/arm-syntax-vim"]
	path = .vim/pack/bundle/start/arm-syntax-vim
	url = https://github.com/ARM9/arm-syntax-vim.git
[submodule ".vim/pack/bundle/start/info.vim"]
	path = .vim/pack/bundle/start/info.vim
	url = https://gitlab.com/HiPhish/info.vim
[submodule ".pyenv/plugins/pyenv-pyright"]
	path = .pyenv/plugins/pyenv-pyright
	url = https://github.com/alefpereira/pyenv-pyright.git
[submodule ".config/nvim/pack/bundle/start/firenvim"]
	path = .config/nvim/pack/bundle/start/firenvim
	url = https://github.com/glacambre/firenvim.git
[submodule ".config/yadm/forkgit"]
	path = .config/yadm/forkgit
	url = https://github.com/brechtm/forkgit
[submodule ".vim/pack/bundle/start/file-line"]
	path = .vim/pack/bundle/start/file-line
	url = https://github.com/bogado/file-line.git
[submodule ".vim/pack/bundle/start/vim-textobj-user"]
	path = .vim/pack/bundle/start/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule ".vim/pack/bundle/start/vim-textobj-quotes"]
	path = .vim/pack/bundle/start/vim-textobj-quotes
	url = https://github.com/beloglazov/vim-textobj-quotes.git
[submodule ".config/nvim/pack/bundle/start/monokai-nightasty"]
	path = .config/nvim/pack/bundle/start/monokai-nightasty
	url = https://github.com/polirritmico/monokai-nightasty.nvim.git
[submodule ".config/nvim/pack/nvim/start/nvim-lspconfig"]
	path = .config/nvim/pack/nvim/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule ".config/nvim/pack/nvim/start/vim-glsl"]
	path = .config/nvim/pack/nvim/start/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl.git
