[submodule ".vim/pack/dist/start/vim-airline"]
	path = .vim/pack/bundle/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/dist/start/vim-fish"]
	path = .vim/pack/bundle/start/vim-fish
	url = https://github.com/blankname/vim-fish.git
[submodule ".vim/pack/bundle/start/vim-dirdiff"]
	path = .vim/pack/bundle/start/vim-dirdiff
	url = https://github.com/will133/vim-dirdiff.git
[submodule ".vim/pack/plugins/start/rust.vim"]
	path = .vim/pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule ".vim/pack/bundle/start/arm-syntax-vim"]
	path = .vim/pack/bundle/start/arm-syntax-vim
	url = https://github.com/ARM9/arm-syntax-vim.git
[submodule ".vim/pack/bundle/start/info.vim"]
	path = .vim/pack/bundle/start/info.vim
	url = https://gitlab.com/HiPhish/info.vim
[submodule ".pyenv/plugins/pyenv-pyright"]
	path = .pyenv/plugins/pyenv-pyright
	url = https://github.com/alefpereira/pyenv-pyright.git
