repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: local
    hooks:
      - name: Cleanup keepassxc.ini
        id: clean-keepassxc
        language: python
        entry: .config/yadm/hooks/clean-keepassxc-ini.py
        files: ^[.]config/keepassxc/keepassxc[.]ini
        pass_filenames: true

      # Easier than using the "official" hooks from nixfmt repo
      - id: nixfmt
        name: nixfmt
        language: system
        entry: nixfmt
        description: The official formatter for Nix code
        pass_filenames: true
        types:
          - nix

  # Order these first so any auto-formatting etc. doesn't affect them.
  # For example, merge conflict detection may be affected.
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        # TODO: maybe consider converting some of these to LFS
        args: [--enforce-all, --maxkb=2048]
        exclude: '.*[.]bttpreset$'
      - id: check-ast
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
        exclude: '^([.]config/Code|[.]vscode).*'
      - id: check-merge-conflict
        args: [--assume-in-merge]
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
        exclude: '^[.]termux/shell$'
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: '(^[.]config/btt/scripts/.*|[.]patch)$'
      - id: trailing-whitespace
        exclude: '(^[.]config/btt/scripts/.*|[.]patch)$'

  # TODO: forked to support windows properly, it would be good to upstream this
  - repo: https://github.com/ian-h-chamberlain/StyLua
    rev: f4d96e5deadb42a84d39e68db7863e1b49c3a504
    hooks:
      # Download from GH instead of building from scratch
      - id: stylua-github
        args: [--config-path=.config/stylua.toml]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources, --source-path=SCRIPTDIR]
        types:
          - shell
        exclude_types:
          - pyz

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.16.1
    hooks:
      - id: gitleaks
        args: [--config=.config/yadm/gitleaks.toml]

  - repo: https://github.com/hugoh/pre-commit-fish.git
    rev: v1.2
    hooks:
      - id: fish_syntax
      - id: fish_indent

  # TODO: some kind of nix flake check for various configurations would be good...
  # e.g. `nix flake check` (which could internally run e.g. `darwin-rebuild check`)
